<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/home.css">
    <title>Good Looking Cooking</title>
</head>
<body>
    <div class="container">
        <!--Navgation Bar-->
        <div class="top-bar">
            <a href="home"><img class="logo" src="../static/logo.svg" /> </a>
            <a href="random-recipe" class="add-link" ><img src="../static/shuffle.svg" class="add"/> </a>
            <a href="user"><img src="../static/user.svg" class="user" /> </a>
        </div>
        <div class="content-screen">
            <div class="search-form">
                <form name="search" method="POST" action="search-results">
                    <img src="../static/search.svg" onclick="document.forms['search'].submit();">
                    <input type="text" class="search-bar" id="search" name="search"> 
                </form>
            </div>

            <!--Content-->
            <div class="content">
                <div class="category-row">
                    <a href="search-results?search=Breakfast"><div class="category-box orange">
                        <h2>Breakfast</h2>
                        <img src="../static/pancake.svg" /> 
                    </div></a>
                    <a href="search-results?search=Lunch"><div class="category-box red">
                        <h2>Lunch</h2>
                        <img src="../static/sandwich.svg" /> 
                    </div></a>
                </div>
                <div class="category-row">
                    <a href="search-results?search=Dinner"><div class="category-box blue">
                        <h2>Dinner</h2>
                        <img src="../static/steak.svg" /> 
                    </div></a>
                    <a href="search-results?search=Dessert"><div class="category-box orange">
                        <h2>Dessert</h2>
                        <img src="../static/cake.svg" /> 
                    </div></a>
                </div>
                <div class="category-row">
                    <a href="search-results?search=Popular"><div class="category-box red">
                        <h2>Popular</h2>
                        <img src="../static/star.svg" /> 
                    </div></a>
                    <a href="search-results?search=Snacks"><div class="category-box blue">
                        <h2>Snacks</h2>
                        <img src="../static/fries.svg" /> 
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>