<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/sign-in.css">
    <meta charset="utf-8" />
    <title>Good Looking Cooking</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">Good Looking Cooking</h1>
            <img src="../static/logo.svg" />
            <h3>Over 100 hundred recipies...</h3>
        </div>
        <div class="center">
            <button class="signup-button" onclick="window.location.href='signup';">Sign Up</button>
            <button class="login-button" onclick="window.location.href='login';">Log In</button>
        </div>
    </div>
</body>
</html>