<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/sign-in.css">
    <title>Good Looking Cooking</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">Good Looking Cooking</h1>
            <a href="/"> <img src="../static/logo.svg" /> </a>
            <h3>Over 100 hundred recipies...</h3>
        </div>

        <div class="center">
            <h2>Sign Up</h2>
            <form method="GET" action="home">
                <div class="text-input">
                    <h3>Email</h3>
                    <input type="text" id="email" name="email">
                </div>
                <div class="text-input">
                    <h3>Name</h3>
                    <input type="text" id="name" name="name">
                </div>
                <div class="text-input">
                    <h3>Password</h3>
                    <input type="text" id="password" name="password">
                </div>
                <button class="submit-signup" onclick="window.location.href='home';">Sign Up</button>
                <p><i><a href="login">login</a></i></p>
            </form>
        </div>
    </div>
</body>
</html>